# Binaries
/manpm
*.exe
*.test

# Temp files
/tmp/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/
*.out

# IDE
.idea/
.vscode/
*.sublime-*

# Backup files
*.bak

# Node
node_modules/
package-lock.json

# Project-specific untracked
pallet.json
pla.md
tools/
cmd/manpm/node_modules/
cmd/manpm/manpm.config.toml
cmd/manpm/package.json
